<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <servlet-class>com.controlador.ProcesarDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesio</servlet-name>
        <servlet-class>com.controlador.IniciarSesio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarUsuario</servlet-name>
        <servlet-class>com.controlador.ProcesarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarMunicipio</servlet-name>
        <servlet-class>com.controlador.ProcesarMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCentroVotos</servlet-name>
        <servlet-class>com.controlador.ProcesarCentroVotos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarDelegado</servlet-name>
        <servlet-class>com.controlador.ProcesarDelegado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarJunta</servlet-name>
        <servlet-class>com.controlador.ProcesarJunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarUrna</servlet-name>
        <servlet-class>com.controlador.ProcesarUrna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPadron</servlet-name>
        <servlet-class>com.controlador.ProcesarPadron</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesionV</servlet-name>
        <servlet-class>com.controlador.IniciarSesionV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCandidato</servlet-name>
        <servlet-class>com.controlador.ProcesarCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarVotante</servlet-name>
        <servlet-class>com.controlador.ProcesarVotante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarPartido</servlet-name>
        <servlet-class>com.controlador.ProcesarPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesarDepartamento</servlet-name>
        <url-pattern>/procesarDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesio</servlet-name>
        <url-pattern>/iniciarSesio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarUsuario</servlet-name>
        <url-pattern>/procesarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarMunicipio</servlet-name>
        <url-pattern>/procesarMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCentroVotos</servlet-name>
        <url-pattern>/procesarCentroVotos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarDelegado</servlet-name>
        <url-pattern>/procesarDelegado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarJunta</servlet-name>
        <url-pattern>/procesarJunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarUrna</servlet-name>
        <url-pattern>/procesarUrna</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPadron</servlet-name>
        <url-pattern>/procesarPadron</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesionV</servlet-name>
        <url-pattern>/iniciarSesionV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCandidato</servlet-name>
        <url-pattern>/procesarCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarVotante</servlet-name>
        <url-pattern>/procesarVotante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarPartido</servlet-name>
        <url-pattern>/procesarPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
